@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
body{
    background-color:aliceblue ;
    font-family: 'Inter';
    background-image: linear-gradient(
    rgba(244, 244, 238, 0.701),
    rgba(0, 0, 255, 0.5)
    ),url("/img/fondo.jpg");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    overflow:auto;
   
}
.contenido-respuesta{
    display: block;
}
.header{
    width: 90%;
    margin: auto;
}
.logo{
    padding-top: 20px;
    width: 60px;
    height: 60px;     
}
.logo img{
    border-radius: 50%;
}
.zona{
    height: 90vh;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.zona-juego{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.input{
    width: 80%;
    resize: none;
    height: 390px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 8px;
    opacity: 0.95;
    background: aliceblue;
}

.input:focus,
.input:active{
    border: none;
    outline: none;
}

.guia{
    display: flex;
    gap: 4px;
}
.guia img{
    width: 16px;
}
.guia p {
    font-size: 16px;
    font-weight: 600;
}

.botones{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 80%;
}
.boton{
    width: 45%;
    padding: 20px;
    font-size: 16px;
    background-color: #0A3871;
    color: aliceblue;
    border-radius: 24px;
}
.boton:hover{
    background-color: aliceblue;
    color: #0A3871;
    transition: all ease-in-out 1s;
}
.boton-des{
    width: 45%;
    padding: 20px;
    font-size: 16px;
    background-color: aliceblue;
    color: #0A3871;
    border-radius: 24px;
    float: inline-end;
}
.boton-des:hover{
    background-color: #0A3871;
    color: aliceblue;
    transition: all ease-in-out 1s;
}
.boton-copiar{
    width: 100%;
    padding: 20px;
    font-size: 16px;
    background-color: aliceblue;
    color: #0A3871;
    border-radius: 24px;
    float: inline-end;
}
.boton-copiar:hover{
    background-color: #0A3871;
    color: aliceblue;
    transition: all ease-in-out 1s;
}
.copiar{
    display: none;
}
.zona-respuesta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px;
    width: 20%;
    height: 90%;
    border-radius: 32px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.21);
    -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.21);
    box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.21);
}
.ajustar{
    display: flex;
}
#respuesta{
    overflow: hidden;
}
.imagen{
    width: 100%;
    height: 238px;
}
.textos{
    width: 100%;
    height: 122px;
    text-align: center;
}
.textos h3{
   font-size: 24px;
   padding-bottom: 29px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    bottom: unset;
    padding: 24px;
    text-align: center;
    background-color: black;
    color: #dedcdc;

}
.footer a{
    text-decoration: none;
    color: aliceblue;
}
.contacto{
    display: flex;
    flex-direction: column;
    padding: 10px;   
}
.redes{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 30px;
    margin: 10px;
}
.redes a:hover{
    color: #0A3871;
    transition: all ease-in-out 1s;
}
.redes img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/*/////////////////////RESPONSIVE/////////////////////////*/

@media (max-width: 1180px) {
    .zona-respuesta{
        padding: 10px;
        width: 25%;
        height: 90%;
    }
}
@media (max-width: 810px) {
    .zona{
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .zona-juego{
        margin-top: 60px;
        width: 100%;
        align-items: center;
    }
    .zona-input{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }
    .zona-respuesta{
        width: 80%;
        height: 400px;
    }
    .botones{
        margin-bottom: 20px;
    }
    .titulo-respuesta{
        font-size: 32px;
    }
    .imagen{
        display: none;
    }
}
@media (max-width: 610px){
    .header{
        height: 25px;
    }
    .zona{
        
        padding-top: 0px;
    }
    .botones{
        flex-direction: column;
        gap: 10px;
    }
    .boton{
        width: 100%;
        border-radius: 8px;
    }
    .boton-copiar{
        width: 100%;
        border-radius: 8px;
    }
    .boton-des{
        width: 100%;
        border-radius: 8px;
    }
    .input{
        height: 150px;
        font-size: 16px;
    }
    .zona-respuesta{
        border-radius: 8px;
        height: 150px;
    }
    .footer{
        flex-direction: column;
        gap: 1px;
    }
}